<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<h1>Mentors:</h1>

<table>
    <tr>
        <td>First Name</td>
        <td>Last Name</td>
        <td>Age</td>
        <td>Gender</td>
    </tr>
    <tr>
        <td th:text="${m1.getFirstName()}"></td>
        <td th:text="${m1.getLastName()}"></td>
        <td th:text="${m1.getAge()}">Age</td>
        <td th:text="${m1.getGender()}">Gender</td>
    </tr>

    <tr>
        <td th:text="${m2.getFirstName()}"></td>
        <td th:text="${m2.getLastName()}"></td>
        <td th:text="${m2.getAge()}">Age</td>
        <td th:text="${m2.getGender()}">Gender</td>
    </tr>

    <tr>
        <td th:text="${m3.getFirstName()}"></td>
        <td th:text="${m3.getLastName()}"></td>
        <td th:text="${m3.getAge()}">Age</td>
        <td th:text="${m3.getGender()}">Gender</td>
    </tr>
</table>




</body>
</html>