<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<h1>Welcome New Student</h1>

<table>
    <thead>
    <td>First Name</td>
    <td>Last Name</td>
    <td>Age</td>
    <td>State</td>
    </thead>
</table>


<h2 th:text="${students}"></h2>


<h2 th:text="${students.get(0).firstName}"></h2>
<h2 th:text="${students.get(0).lastName}"></h2>

<!--  Concatenation -->

<h2 th:text="${'Welcome ' + students.get(0).firstName +' '+ students.get(0).lastName}"></h2>


<!--    Link  -->

<a th:href="@{https://google.com}">Google Page</a> <br>  <br>

<a th:href="@{/student/welcome}">Student Welcome Page</a> <br>  <br>


<!-- Adding Parameters to Link -->

<a th:href="@{/student/welcome(id=3)}">Link2</a> <br> <br>


<a th:href="@{/student/welcome(id=${students.get(0).firstName})}">Link3</a>






</body>
</html>