<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{index.page.title}">Title</title>

    <link th:href="@{/css/bootstrap4.1.3dist/css/bootstrap.min.css}" rel="stylesheet" media="screen"/>

    <script th:src="@{/js/jquery3.3.1.min.js}"></script>

    <link th:href="@{/css/custom.css}" rel="stylesheet" media="screen"/>


</head>
<body>

<img th:src="@{/images/welcome38249.png}" alt="stefa"/>


<h1>Welcome New Student</h1>

<a th:href="@{/student/register}">Student Register</a> <br> <br>

<h2 class="display-1 text-danger">Welcome New Student</h2>


<h2 class="school">Welcome New Student With Custom CSS</h2>

<div th:replace="/fragments/index :: footer-menu"></div>
<div th:replace="/fragments/index :: main-menu"></div>





</body>
</html>